@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

$violet: rgb(103, 75, 175);
$soft-magenta: rgb(232, 130, 232);
$font-size: 16px;
$font-opensans: 'Open Sans', sans-serif;
$font-poppins: 'Poppins', sans-serif;

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

/***** some base definitions from https://piccalil.li/blog/a-modern-css-reset/ *****/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/***** main styles *****/

html {
  font-size: $font-size;
  font-family: $font-poppins;
}

main {
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: url(../images/bg-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $violet;
  padding: 50px 100px 100px 90px;

  @media screen and (max-width: 1090px) {
    display: flex;
    flex-direction: column;
  }

  @media screen and (max-width: 768px) {
    padding: 50px 70px 70px 90px;
  }

  @media screen and (max-width: 450px) {
    background-image: url(../images/bg-mobile.svg);
    padding: 50px;
  }
}

.logo {
  width: 200px;
  margin-bottom: 100px;

  @media screen and (max-width: 1090px) {
    margin-bottom: 50px;
  }
}

.hero-container {
  min-height: 50vh;
  margin-bottom: 50px;

  .illustration {
    @media screen and (min-width: 1090px) {
      animation: appear 0.5s ease-in-out backwards;
    }
  }

  .info-container {
    margin-left: 50px;

    .title {
      font-family: $font-opensans;
      font-size: 2.5rem;
      font-weight: bold;
      color: white;
      margin-top: 40px;
      margin-bottom: 30px;

      @media screen and (max-width: 768px) {
        font-size: 2rem;
      }

      @media screen and (max-width: 450px) {
        font-size: 1.25rem;
      }
    }

    .desc {
      color: white;
      font-weight: 400;
      margin-bottom: 20px;

      @media screen and (max-width: 450px) {
        font-size: 0.9rem;
        line-height: 30px;
        opacity: 0.9;
      }
    }

    .register-btn {
      display: inline-block;
      border: none;
      outline: none;
      border-radius: 50px;
      width: 150px;
      padding: 12px 15px;
      background-color: white;
      font-family: $font-poppins;
      color: $violet;
      cursor: pointer;
      box-shadow: -1px 3px 25px -5px rgba(33, 7, 90, 0.75);
      transition: all 0.1s ease-in-out;

      &:hover {
        background-color: $soft-magenta;
        color: white;
      }
    }

    @media screen and (max-width: 1090px) {
      margin-left: 0px;
    }

    @media screen and (min-width: 1090px) {
      animation: appear 0.5s 0.5s ease-in-out backwards;
    }

    @media screen and (max-width: 768px) {
      align-items: center;
    }
  }

  @media screen and (max-width: 1090px) {
    flex-direction: column;
  }

  @media screen and (max-width: 768px) {
    text-align: center;
  }
}

.social-media-icons {
  float: right;
  color: white;
  gap: 20px;

  ion-icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: color 0.1s ease-in-out;

    &:hover {
      color: $soft-magenta;
    }
  }

  @media screen and (min-width: 1090px) {
    animation: slide-up 0.8s 1s ease-in-out backwards;
  }
}

/*** ANIMATIONS ***/

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide-up {
  0% {
    opacity: 0;
    margin-top: 50px;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}